/* BLOQUE MENU INICIO */
#menu{background: linear-gradient(#023db1, #023db1);

 a {color: aliceblue;}
 
.logomenu {width: 80px;}
}
/* BLOQUE MENU FINAL*/
/*--------------------------------------------------------------------------------------*/
/*BLOQUE INICIO*/


.bloqueInicio {
    position: relative;
    width: 100%;

    img {
        width: 100%;
        height: 700px;
        display: block;
    }

    H1 {
        font-size: xx-large;
        position: absolute;
        bottom: 290px;
        left: 64px;
        padding: 16px;
        color: rgb(255, 251, 251);
        text-shadow: 1px 1px black;
    }

    a {
        position: absolute;
        bottom: 220px;
        left: 64px;
        background-color: #023db1;
        border-radius: 30px;
        padding: 32px 80px;
        text-decoration: none;
        color: aliceblue;
        font-weight: bolder;
        text-shadow: 1px 1px black;
    }

    a:hover {
        background-color: #00004660;
    }
}



/*BLOQUE INICIO FINAL*/
/*--------------------------------------------------------------------------------------*/
/*BLOQUE NOSOTROS */


#Nosotros h2 {
    padding-top: 150px;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
}

.bloqueNosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;

    img {
        width: 450px;
        padding-left: 25px;
        padding-top: 10px
    }

    .bloqueNosotros__texto {
        p {
            font-weight: bold;


            padding-top: 45px;
            padding-right: 25px;
            padding-left: 25px
        }
    }
}




/*BLOQUE NOSOTROS FINAL*/
/*------------------------------------------------------------------------------------------------*/
/*BLOQUE SERVICIOS*/



.bloqueServicios {
    h2 {
        margin-top: 100px;
        text-align: center;
        padding-top: 75px;
        font-size: xx-large;
        font-weight: bolder
    }
}

.bloqueServicios__contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
    padding-right: 15px;

    h3 {font-size:large; color: grey;font-weight: bold;}

    .bloqueServicios__uno {
        display: flex;
        flex-direction: column;
        width: 33%;
        text-align: center;
        padding-left: 25px
    }

    .bloqueServicios__dos {
        display: flex;
        flex-direction: column;
        width: 33%;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px
    }

    .bloqueServicios__tres {
        display: flex;
        flex-direction: column;
        width: 33%;
        text-align: center;
        padding-right: 25px;
    }

    .bloqueServicios__imagen {
        justify-content: center;
    }
}

/*-------------------------*/
/*CLIENTES*/

.bloqueClientes {
    h2 {
        margin-top: 100px;
        font-size: xx-large;
        text-align: center;
        font-weight: bolder;
        text-align: center;
        
    }
}

.bloqueClientes__Contenedor {
    padding-left: 100px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 100%;

    img {
        width: 150px;
    }

    Img:hover {
        animation: rotation 2s infinite linear
    }

    @keyframes rotation {
        from {
            transform: rotatey(0deg);
        }

        to {
            transform: rotatey(359deg);
        }
    }
}

/*BLOQUE CLIENTES FINAL*/
/*--------------------------------------------------------------------------------------*/
/*BLOQUE CONTACTO*/

.bloqueFinal {
    padding-top: 60px;
    padding-bottom: 20px;
    margin-top: 50px;
    background-color: #C4C4C4;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .bloquefinal__Contacto {
        padding-top: 40px;
        width: 40%;
        text-align: center;

        p {
            line-height: 20pt
        }

        iframe {
            border-radius: 15px;
            width: 400px;
            height: 250px;
        }
        h2 {font-size: x-large;
  text-align: center;
  font-weight: bolder;
  text-align: center;
    }
}

    .bloqueFinal__Formulario {
        padding-top: 40px;
        width: 60%;
        padding-left: 200px;

        label{
            margin-top: 10px;
        }

        input {
            border-color: black;
            border-radius: 15px;
            width: 400px;
        }

        textarea {
            border-color: black;
            border-radius: 15px;
            width: 400px;
            height: 150px;
        }
        h2 {font-size: x-large;
            font-weight: bolder;
            }
    }

    #botonformulario {
        background-color: #0055FB;
        border-radius: 30px;
        padding: 16px 40px;
        color: aliceblue;
        text-shadow: 1px 1px black;
    }
}