.navbar-nav a{color: aliceblue;}




.bloqueInicio {
    position: relative;
    width: 100%;
}
.bloqueInicio img {
    width: 100%;
    height: 700px;
    display: block
}
.bloqueInicio H1 {
    font-size: xx-large;
    position: absolute;
    bottom: 290px;
    left: 64px;
    padding: 16px;
    color: rgb(255, 251, 251)
}
.bloqueInicio a {
    position: absolute;
    bottom: 220px;
    left: 64px;
    background: linear-gradient(#0055FB, #00004660);
    border-radius: 30px;
    padding: 32px 80px;
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
}
.bloqueInicio a:hover {
    background-color: white;
}

#Clientes img {width: 180px}