* {
    Margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

#Contenedorsitio {
    display: grid;
    grid-template-areas:
        "nav"
        "Inicio"
        "Nosotros"
        "Servicios"
        "Clientes"
        "Contacto"
    ;
    grid-template-columns: 100%;
    grid-template-rows: 2% 20% 20% 20% 20% 18%;
    width: 100vw;
}

/* BLOQUE MENU INICIO */
#Menu {
    grid-area: nav
}

.bloqueMenu {
    background: linear-gradient(#0055FB, #00004660);
    display: flex;
    flex-direction: row;
    color: aliceblue;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    max-height: 80px;

}

.bloqueMenu__logo {
    width: 5%
}

.bloqueMenu__logo img {
    padding-bottom: 40px;
    width: 80px
}

.bloqueMenu .bloqueMenu__estudio {
    width: 15%;
}

.bloqueMenu__estudio h1 {
    white-space: pre;
    padding-top: 15px;
    text-shadow: 1px 1px black;
}

.bloqueMenu .bloqueMenu__lista {
    width: 80%;
    padding-top: 20px;
    text-align: right;
    padding-right: 25px;
}

.bloqueMenu .bloqueMenu__lista nav ul li {
    list-style: none;
    text-decoration: none;
    color: aliceblue;
    display: inline-block
}

.bloqueMenu .bloqueMenu__lista ul li a {
    padding-left: 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.bloqueMenu .bloqueMenu__lista ul li a:hover {
    color: #f3f3f360
}

@media (max-width: 767px) {
    .bloqueMenu {
        background: linear-gradient(#0055FB, #00004660);
        display: flex;
        flex-direction: row;
        color: aliceblue;
        width: 100%;
        position: sticky;
        top: 0px;
        z-index: 1;
        max-height: 80px;
    }

    .bloqueMenu__logo {
        width: 15%
    }

    .bloqueMenu__logo img {
        padding-bottom: 50px;
        width: 80px
    }

    .bloqueMenu .bloqueMenu__estudio {
        width: 80%;
    }

    .bloqueMenu__estudio h1 {
        white-space: pre;
        padding-top: 15px;
        text-align: center;
    }

    .bloqueMenu .bloqueMenu__lista {
        display: none;
    }
}


/* BLOQUE MENU FINAL*/
/*--------------------------------------------------------------------------------------*/
/*BLOQUE INICIO*/
#Inicio {
    grid-area: Inicio
}

.bloqueInicio {
    position: relative;
    width: 100%;
}

.bloqueInicio img {
    width: 100%;
    height: 700px;
    display: block
}

.bloqueInicio H1 {
    font-size: xx-large;
    position: absolute;
    bottom: 290px;
    left: 64px;
    padding: 16px;
    color: rgb(255, 251, 251);
    text-shadow: 1px 1px black;
}

.bloqueInicio a {
    position: absolute;
    bottom: 220px;
    left: 64px;
    background: linear-gradient(#0055FB, #00004660);
    border-radius: 30px;
    padding: 32px 80px;
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
    text-shadow: 1px 1px black;
}

.bloqueInicio a:hover {
    background-color: #00004660;

}

/*BLOQUE INICIO FINAL*/
/*--------------------------------------------------------------------------------------*/
/*BLOQUE NOSOTROS */
#Nosotros {
    grid-area: Nosotros
}

#Nosotros h2 {
    padding-top: 200px;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;

}

.bloqueNosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
}

#bloqueNosotros__imagen img {
    width: 450px;
    padding-left: 25px;
    padding-top: 45px
}

#bloqueNosotros__texto p {
    font-weight: bold;


    padding-top: 45px;
    padding-right: 25px;
    padding-left: 25px
}

@media (max-width: 767px) {
    #Nosotros h2 {
        padding-top: 40px;
        font-size: xx-large;
        text-align: center;
        font-weight: bolder;
    }

    .bloqueNosotros {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        width: 100%;
        padding-top: 50px;
    }

    #bloqueNosotros__texto p {
        font-weight: bold;
        text-align: center;
        padding-top: 50px;

    }

    #bloqueNosotros__imagen img {
        text-align: center;
        width: 350px;
        padding-right: 20px;

    }
}

/*BLOQUE NOSOTROS FINAL*/
/*------------------------------------------------------------------------------------------------*/
/*BLOQUE SERVICIOS*/
#Servicios {
    grid-area: Servicios
}

.bloqueServicios h2 {
    text-align: center;
    padding-top: 75px;
    font-size: xx-large;
    font-weight: bolder
}

.bloqueServicios__contenedor {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
    padding-right: 15px;
}

.bloqueServicios__imagen {
    justify-content: center;
}

#bloqueServicios__uno {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
    padding-left: 25px
}

#bloqueServicios__dos {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px
}

#bloqueServicios__tres {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
    padding-right: 25px;
}

@media (max-width: 767px) {

    .bloqueServicios__contenedor {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        justify-content: center;
        padding-top: 0px;
        margin-bottom: 0px;
        padding-right: 5px;
        padding-left: 5px
    }

    .bloqueServicios h2 {
        text-align: center;
        font-size: xx-large;
        font-weight: bolder;
        padding-top: 0px;
        margin-bottom: 50px;
    }

    #bloqueServicios__uno {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding-left: 0px;


    }

    #bloqueServicios__dos {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 5px;
    }

    #bloqueServicios__tres {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }
}

/*BLOQUE SERVICIOS FINAL*/
/*--------------------------------------------------------------------------------------*/
/*BLOQUE CLIENTES */
#Clientes {
    grid-area: Clientes
}

.bloqueClientes h2 {
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    text-align: center;
    padding-top: 75px;
    margin-bottom: 90px;
}

.bloqueClientes__Contenedor {
    padding-left: 50px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 100%;
}

.bloqueClientes__Contenedor img {
    width: 150px;
}

.bloqueClientes__Contenedor Img:hover {
    animation: rotation 2s infinite linear
}

@keyframes rotation {
    from {
        transform: rotatey(0deg);
    }

    to {
        transform: rotatey(359deg);
    }
}

@media (max-width: 767px) {
    .bloqueClientes h2 {
        font-size: xx-large;
        text-align: center;
        font-weight: bolder;
        text-align: center;
        padding-top: 200px;
        margin-bottom: 5px;
    }

    .bloqueClientes__Contenedor {
        padding-left: 10px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        max-width: 100%;
        margin-top: 0px;
    }

    .bloqueClientes__Contenedor img {
        width: 100px;
    }
}

/*BLOQUE CLIENTES FINAL*/
/*--------------------------------------------------------------------------------------*/
/*BLOQUE CONTACTO*/
#Contacto {
    grid-area: Contacto
}

.bloqueFinal {
    padding-top: 60px;
    padding-bottom: 20px;
    margin-top: 50px;
    background-color: #C4C4C4;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloqueFinal {
    font-weight: bolder
}

.bloqueFinal .bloquefinal__Contacto {
    width: 40%;
    text-align: center;
}

.bloqueFinal .bloquefinal__Contacto p {
    line-height: 20pt
}

.bloqueFinal .bloquefinal__Contacto iframe {
    width: 400px;
    height: 250px;
}

.bloqueFinal__Formulario {
    width: 60%;
    padding-left: 200px;
}

.bloqueFinal__Formulario input {
    width: 400px;
}

.bloqueFinal__Formulario textarea {
    width: 400px;
    height: 200px;
}

#botonformulario {
    background-color: #0055FB;
    border-radius: 30px;
    padding: 16px 40px;
    color: aliceblue;
    text-shadow: 1px 1px black;
}

@media (max-width: 767px) {
    .bloqueFinal {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        background-color: #C4C4C4;
        font-weight: bolder;
        display: flex;
        flex-direction: column;

    }

    .bloqueFinal {
        font-weight: bolder
    }

    .bloqueFinal .bloquefinal__Contacto {
        width: 100%;
        text-align: center;
    }

    .bloqueFinal .bloquefinal__Contacto p {
        line-height: 20pt
    }

    .bloqueFinal .bloquefinal__Contacto iframe {
        width: 200px;
        height: 125px;
    }

    .bloqueFinal__Formulario {
        width: 100%;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;

    }

    .bloqueFinal__Formulario input {
        width: 300px;
    }

    .bloqueFinal__Formulario textarea {
        width: 300px;
        height: 150px;
    }
}

/*BLOQUE CONTACTO FINAL */